html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: cornsilk;
    font-size: 2rem;
    text-align: center;
}